/*Palette:

http://www.colourlovers.com/palette/2164733/VintageRoadMoviePuss
*/

body {
	background-color: #e90000;
	/*font-family: 'Anonymous Pro', monospace;*/

}

.title {
	border-bottom: solid;
	border-width: 3px;
	border-color: black;
	background-color: #eceeef;
	color: black;
	font-family: 'Faster One', cursive;
	text-align: center;
	margin-bottom: 15px;
}

.panel {
	border-style: solid;
	border-width: 3px;
	border-color: black;
	color: black;
}


label {
	margin:5px;
}
